.section {
  padding: 60px 0;
  background-color: rgba(240, 240, 240, 0.4);
}

.head{
    display: flex;
    flex-direction: column;
    align-items: center;
     max-width: 1084px;
     margin: auto;
     margin-bottom: 50px;
}
.heading {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #000;
  text-transform: uppercase;

 
}

.sub_heading {
  color: #373737;
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
  max-width: 724px;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0;
}

.card {
  padding: 40px 30px;
  text-align: left;
  background: #F0F0F0;
  transition: 0.3s ease;
  min-height: 663px;
  border: 1px solid #DEDBDB;
  display: flex;
  flex-direction: column;
}

.card:first-child{
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.card:last-child {
  border-right: none;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.card:hover {
  background: #000;
  color: #fff;
  cursor: pointer;
}



.number {
  font-size: 130px;
  flex: 1;
  font-weight: 400;
  margin-bottom: 20px;
  opacity: 0.3;
}

.title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}

.desc {
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  color: rgb(106 106 106 / 70%);
}
