.process_section{}


.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0;
}

.card {
  padding: 40px 30px;
  text-align: left;
  background: #F0F0F0;
  transition: 0.3s ease;
  min-height: 663px;
  border: 1px solid #DEDBDB;
  display: flex;
  flex-direction: column;
}

.card:first-child{
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.card:last-child {
  border-right: none;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.card:hover {
  background: #000;
  color: #fff;
  cursor: pointer;
}



.number {
  font-size: 130px;
  flex: 1;
  font-weight: 400;
  margin-bottom: 20px;
  opacity: 0.3;
}

.title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}

.desc {
  transition: 0.3s ease;
}

.card:hover .desc{
  color: #fff;
}
