* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main_container {
  max-width: 1720px;
  margin: auto;
}


.cta_primary {
  background-color: transparent;
  color: #000;
  font-size: 18px;
  font-weight: 600;
  border-radius: 50px;
  padding: 12px 32px;
  border: 1px solid #000;
  text-decoration: none;
  transition: all 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cta_primary:hover {
  color: #fff;
  background-color: #000;
}

.cta_secondary {
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  border-radius: 50px;
  padding: 12px 32px;
  border: 1px solid #fff;
  text-decoration: none;
  transition: all 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cta_secondary:hover {
  background-color: #fff;
  color: #000;
}

.section_bg {
  background-color: #F8F8F8;
}

.section_top {
  text-align: center;
  margin: auto;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.section_top.two_col {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  text-align: start;
}

.section_top .title {
  font-size: 50px;
  line-height: 60px;
  letter-spacing: 0.5px;
  font-weight: 900;
  text-transform: uppercase;
  color: #000;
}

.section_top .sub_title {
  font-size: 20px;
  line-height: 34px;
  color: #373737;
  margin: auto;
  font-weight: 400;
  max-width: 768px;
}

.section_top.two_col .sub_title {
  margin: unset;
}

.section_padding {
  padding-block: 100px;
}

.pb_0{
  padding-bottom: 0;
}
.pt_0{
  padding-top: 0;
}

.text{
  font-size: 20px;
  line-height: 32px;
  color: #373737;
  font-weight: 400;
}

.secondary_text{
    font-size:18px;
  line-height: 28px;
  color: #373737;
  font-weight: 400;
}

a{
  text-decoration: none;
}
    

    .swiper-button-next 
        .swiper-navigation-icon, 
    .swiper-button-prev 
        .swiper-navigation-icon{
          display: none!important;
        } 
        .title {
  font-size: 50px;
  line-height: 60px;
  letter-spacing: 0.5px;
  font-weight: 900;
  text-transform: uppercase;
  color: #000;
}