
.projects_section{}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 40px;
  grid-column-gap: 21px;
}

.card {
  cursor: pointer;
}
.card_link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.card_img {
  position: relative;
  border-radius: 10px;
}

.img_cover {
  object-fit: cover;
  border-radius: 10px;
}

.card_info {
  margin-top: 10px;
}

.card_info h3 {
  font-size: 30px;
  font-weight: 700;
  color: #000;
}

.card_info p {
  color: #8A8A8A;
  font-size: 18px;
  font-weight: 300;
  margin-top: 10px;
}
