.section {
  padding: 60px 0;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 40px;
}

.header .left{
    flex: 1;
}

.title {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #000;
  text-transform: uppercase;
}

.sub_title {
  color: #373737;
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
}
.header .right{
    flex: 1;
    display: flex;
    justify-content: end;
    margin-top: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 40px;
  grid-column-gap: 21px;
}

.card {
  cursor: pointer;
}
.card_link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.card_img {
  position: relative;
  border-radius: 10px;
}

.img_cover {
  object-fit: cover;
  border-radius: 10px;
}

.card_info {
  margin-top: 10px;
}

.card_info h3 {
  font-size: 30px;
  font-weight: 700;
  color: #000;
}

.card_info p {
  color: #8A8A8A;
  font-size: 18px;
  font-weight: 300;
  margin-top: 10px;
}
