.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 50px;
  position: absolute;
  top: 0;
  z-index: 9;
  left: 0;
}

.nav {
  display: flex;
  align-items: center;
  gap: 36px;
}

.work_btn {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 19px;
  transition: all 0.3s;
  display: inline-flex;
  align-items: center;
}

.work_btn:hover {
    color: #fff;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}