.hero_section {
  position: relative;
  height: 100vh;
  /* background: url("/hero-bg.jpg") center/cover no-repeat; */
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}


.content {
  text-align: center;
  color: #fff;
}

.sub_title {
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
}

.title {
  font-size: 70px;
  font-weight: 900;
  margin-bottom: 10px;
  line-height: 1.2;
}

.text {
  font-size: 20px;
  max-width: 824px;
  margin: 10px auto 25px;
  line-height: 34px;
  color: #D0D0D0;
}


/* Responsive */
@media (max-width: 768px) {
  .title {
    font-size: 2.2rem;
  }
  .subTitle {
    font-size: 1.2rem;
  }
  .text {
    font-size: 1rem;
  }
}
